/* Font Import */
@font-face {
	font-family: SakerSansBold;
	src: url(../assets/fonts/SakerSansBold.ttf);
}

/* Global */

body {
	background-image: url('https://cdn.pixabay.com/photo/2016/12/13/03/42/candy-cane-stripe-1903238_960_720.png');
}

.container {
	background-color: #0F8A5F;
	min-height: 100%;
	padding: 0;
	overflow: hidden;
}

input {
	font-size: 26px
}

.full-width {
	width: 90%;
}

.amatic {
	font-family: 'Amatic SC', cursive;
}

.btn-lightdanger {
	color: white;
	background-color: #F5624D;
}

button {
	font-family: SakerSansBold;
}
/* Navbar */

.navbar {
	font-family: SakerSansBold;
	border-radius: 0;
}

.navbar-default .navbar-brand {
	font-size: 30px;
	color: #CC231E;
}


.navbar-default .navbar-toggle .icon-bar {
	background-color: #CC231E;
}

.navbar-default .navbar-toggle {
	border-color: #CC231E;
}

/* Home Page */

.buttonSpacing {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.buttonSpacing button {
	width: 90%;
    padding: 10px;
    font-size: 50px;
}

/* List Naming */

.nameListContainer button {
	font-size: 28px;
}

.nameListContainer h1 {
	color: #f8f8f8;
}
